/*Font configuration*/
@font-face{
	font-family: 'raleway';
	src: url('Font/Raleway/static/Raleway-Regular.ttf');
	font-weight: normal;
    font-style: normal;	
}

/*Global configuration*/
*{
    margin:0;
    padding:0;
	box-sizing:border-box;
}
:root{
	--color-primary: rgba(0, 101, 252, 1);
    --color-primary-light: rgba(222, 235, 255, 1);
    --color-secondary: rgba(217, 217, 217, 1);
    font-family:raleway;
}
.global_container{
    max-width: 1400px;
    padding-left:50px;
    padding-right:50px;
    margin:auto;
}

/*Header configuration*/

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    padding:21px 0 23px;
}

ul{
    display: flex;
    align-items: center;
}
li{
    list-style-type: none;
    display: flex;
    align-items: center;
    border-top: 2px solid transparent;
}
li:hover{
    border-top-color: var(--color-primary);
    cursor:pointer;
}
.lien_nav{
    padding-right: 34px;
    padding-left: 34px;
    text-decoration: none;
    color:black;
    line-height:100px;
}
li:hover .lien_nav{
    color:var(--color-primary);
}

/*1st section configuration*/
#research{
    margin-bottom:40px;
    margin-top:26px;
}
h1{
    margin-bottom:8px;
}
form{
    margin-top:20px;
    margin-bottom:38px;
}
.research{
    display: flex;
    height:49px;
    margin-bottom:31px;
    font-size:1.125em;
}
.localisation{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width:50px;
    border-radius: 15px 0px 0px 15px;
    background-color: var(--color-secondary);
}
#localisation{
    padding-left: 17px;
    border:0px;
    border-top:1px solid var(--color-secondary);
    border-bottom:1px solid var(--color-secondary);
    outline: none;
    font-size: 1em;
    font-family: raleway;
    font-weight: 700;
}
button{
    padding-left: 16px;
    padding-right:16px;
    border:0;
    border-radius: 0px 15px 15px 0px;
    background-color:var(--color-primary);
    cursor:pointer;
    font-size: 1em;
    font-family: raleway;
    font-weight: 700;
    color:white;
}
.mobile{
    display:none;
}

.filtre{
    display:flex;
    flex-wrap: wrap;
}
.filtre p{
    line-height:50px;
    margin-left:12px;
    margin-right:50px;
    font-weight: 700;;
}
.filtres{
    display: flex;
    gap:20px;
    flex:1;
}
input[type="checkbox"]{
    display:none;
}
.filtre label{
    display: inline-block;
    min-width: 55px;
    padding: 14.58px;
    border:2px solid var(--color-secondary);
    border-radius:25px;
    cursor:pointer;
    font-size: 1.0625em;
    white-space:nowrap;
}
.filtre label:hover{
    background-color:var(--color-primary-light);
}
.filtre i{
    padding-right:10px;
    color:var(--color-primary);
}
.result_nb_info{
    display:flex;
    gap:11px;
}
.fa-info{
    display: flex !important;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -2px;
    width: 24px;
    height:24px;
    border: 1px solid var(--color-secondary);
    border-radius: 50%;
    font-size: 10px;
    color: var(--color-primary);
}
/* .result_nb_info::before{
    content: '\f129';
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    border: 1px solid var(--color-secondary);
    border-radius: 50%;
    width: 22.4px;
    display: inline-flex;
    height:22.4px;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    position: relative;
    top: -2px;
    margin-right: 11px;
    color: var(--color-primary);
} */

/*2nd section configuration*/
.container1{
    display:flex;
    gap:40px;
}
#hebergement, .populaire{
    background-color:var(--color-secondary);
    border-radius:20px;
}
#hebergement{
    flex:2;
    padding:40px;
}
.populaire{
    flex:1;    
    padding:40px;
}
h2{
    margin-bottom:23px;
}
.card_container{
    display:flex;
}
.container2{
    flex-wrap: wrap;
    justify-content: space-around;
}
.container4{
    flex-direction: column;
}
.card_container a{
    text-decoration: none;
    margin-bottom:20px;
}
.container2 a{
    /* height: 200px; */
    width: 30%;
    /* min-width: 210px;  */
}
.container4 a{
    width: 100%;
    height: 150px;
}
.card{
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
    background-color: white;
    color: black;
    height: 100%;
}
.card_form1{   
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}
.picture{
    object-fit: cover;
}
.card_form1 .picture{
    /* height: 62.5%; */
    height:120px;
    /* max-height: 120px; */
}
.picture_top{
    border-radius: 20px 20px 0 0;
}
.picture_left {
    float: left;
    width: 40%;
    height: 100%;
    border-radius: 20px 0 0 20px;
}
.card_info{
    padding-inline: 15px;
    padding-top: 12px;
}
.card_info :nth-child(n){
    margin-bottom: 9px;
}
.card_form2_info{
    padding-top: 15px;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.card p{
    font-size:0.875em;
}
.grade{
    display: flex;
    justify-content: flex-start;
    gap: 4px;
}
.fa-star{
    font-size:12px;
    color:var(--color-secondary);
}
.validated{
    color:var(--color-primary);
}
.more_info{
    margin-top:20px;
}
.more_info a{
    text-decoration: none;
    color:black;
}
.more_info a:hover{
    text-decoration: underline;
}

    /*in order to center the chart picto with position:absloute*/
    .container3{
        position:relative;
    }
    .fa-chart-line{
        font-size:16px;
        color:var(--color-primary);
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
 
/*3nd section configuration*/
#activites{
    margin-top:60px;
}
.container5{
    display:flex;
    justify-content: space-between;
}
.container5 a{
    width:23%;
}
.card_form3{
    display:flex;
    flex-direction: column;
}
.card_form3 .picture{
    flex:8;
}
.card_form3 .card_info{
    flex:1;
    padding-block:12px;
}






/*Footer configuration*/
footer{
    display:flex;
    /* justify-content: space-between; */
    gap:11%;
    padding:45px;
    padding-bottom:60px;
    margin-top:60px;
    background-color: var(--color-secondary);
}
footer h3{
    padding-bottom:20px;
    font-size:1.125em;
}
.footer_link{
    display:block;
    padding-top: 12px;
    text-decoration: none;
    color:rgb(50, 33, 33);
}
.footer_link:hover{
    text-decoration: underline;
}




/*Tablet configuration*/
@media  screen and (max-width:992px){
    
    /*global configuration*/
    body{
        background-color: blue;
    }
    .global_container{
        max-width: 1400px;
        padding-left:72px;
        padding-right:72px;
    }

    /*1st section configuration*/
    .filtres{
        justify-content: space-between;
        gap:0px;
    }
    /*2nd section configuration*/
    .container1{
        flex-direction: column;
        gap: 53px; 
    }
    .container4{
        flex-direction: row;
        gap:5%;
    }
    .container4 a{
        width:30%;
    }

    /*3nd section configuration*/
    #activites{
        margin-top:70px;
    }
}

/*Mobile configuration*/
@media  screen and (max-width:768px){
    
    /*global configuration*/
    body{
        background-color: red;
    }
    .global_container{
        padding:0px;
    }

    /*Header configuration*/    
    header{
        flex-direction: column;
    }
    nav{
        width:100%;
    }
    li{
        border-top: 0px;
        border-bottom: 3px solid var(--color-secondary);
        width:50%;
        justify-content: center;
    }
    li:active{
        border-bottom-color:var(--color-primary);
    }
    li:hover{
        border-top:none;
    }
    .lien_nav{
        line-height:60px;
    }
    li:hover .lien_nav{
        color:black;
    }
    li:active .lien_nav{
        color:var(--color-primary);
    }

    /*1st section configuration*/
    #research{
        padding-left:20px;
        padding-right:20px;
    }
    h1{
        margin-top:31px;
        margin-bottom:13px;
        font-size: 1.375em;
    }
    form{
        margin-top:36px;
        margin-bottom:43px;
    }
    .no-mobile{
        display:none;
    }
    .mobile{
        display:inline;
    }
    .filtre{
        display:block;
    }
    .filtres{
        flex-wrap: wrap;
        gap:10%;
    }
    .filtre label{
        width:45%;
        margin-bottom:17px;
        font-size: 11px;
    }

    /*2nd section configuration*/
    .card_container{
        flex-direction: column;
    }
    .container1{
        gap:0;
    }
    .container2 a{
        width:100%;
    }
    .container4 a{
        width:100%;
        margin-bottom: 10px;
    }
    .populaire{
        order:0;
        border-radius:0;
        padding:21px;
    }
    #hebergement{
        order:1;
        background: transparent;
    }

    /*3nd section configuration*/
    #activites {
        margin-top: 105px;
    }

    /*Footer configuration*/
    footer{  
        display: block;
        margin-top: 80px;
        padding: 45px;
    }
    footer div{
        padding-top:45px;
        padding-left:30px
    }
}